# ignore everything first
*

# important core files
!README.md
!ap_backend.py
!app.py
!stress_level_dataset.csv

# licenses
!APACHE_LICENSE.txt
!LICENSE.txt

# notebook of entire program
!Backend Visualizer/
!Backend Visualizer/**

# webapp files
# html files
!templates/
!templates/**

# static files
!static/
!static/**


