:root {
    --survey-color: #3F481F;

    --inactive-bar: #222610;
    --active-bar: #44357B;
}

#wrapper .panel {
    background-color: var(--survey-color);

    margin: 18vh 4vw 12vh 4vw;
    padding: 3em 5em 3em 5em;
}

.alert {
    background-color: #8a7427;
    color: white;

    width: 25%;

    font-weight: 700;
    border-radius: 25px;
    border-style: none;

    text-align: center;
    vertical-align: middle;
    
    margin: 0 auto;
}

#survey-progress-bar {
    display: flex;
    color: white;

    margin-bottom: 10vh;
}

.survey-topic {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.survey-topic:not(:last-child) {
    padding-right: 2em;
}

.progress-bar {
    background-color: var(--inactive-bar);

    border-radius: 25px;
    border-style: none;

    height: 10%;
}

.step {
    display: flex;
    flex-direction: column;
    
    text-align: center;
}

.step-1 svg {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

label {
    color: white;
}

.sliders { /*all visible sliders in one step*/
    display: flex;
    flex-direction: row;
}

.slider-group { /*one slider with its associated descriptions & title*/
    display: inline-block;
    width: 100%;
    margin-top: 1vh;
}

.slider { /*one slider with ONLY its associated descriptions*/
    display: inline;
}

.next-btn, .prev-btn, .submit-btn {
    padding-left: 4em;
    padding-right: 4em;

    font-weight: 700;
    border-style: none;
    border-radius: 25px;
}

.next-btn {
    background-color: #362a61;
    color: white;
}

.prev-btn {
    background-color: var(--body-bg-color);
    color: white;

    border: 1px solid white;
}

.submit-btn {
    background-color: #51408f;
}

.step {
    display: none; /*this changes later*/
}

.step.active {
    display: block;
}