{% extends "layout.html" %}

{% block title %}
    About Us - AnxietySense
{% endblock %}

{% block main %}
<div class="panel">
    <h1>About Us</h1>
    <div class="section-flex">
        <div class="section-left">
            <p style="color: white;">
                Welcome to AnxietySense, where we are dedicated to revolutionizing the approach to anxiety management.
                At AnxietySense, we understand that anxiety is complex and multifaceted, influenced by a myriad of factors including sleep patterns,
                experiences of bullying, and concerns about future career prospects. Our mission is to empower individuals by uncovering these hidden anxiety triggers
                and providing personalized solutions through cutting-edge AI-driven surveys.
            </p>
        </div>
        <div class="section-right">
            <p>
                Driven by a passion for innovation, we are committed to redefining the landscape of anxiety management.
                Through our relentless pursuit of excellence, we strive to ensure that each individual's journey towards peace and well-being is tailored to their unique needs and circumstances.
                Join us as we embark on this transformative journey to empower individuals, one step closer to a happier and healthier life.
            </p>
        </div>
    </div>
</div>

{% endblock %}